*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body{
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{
    display: none;
}

.icono{
    width: 10px;
    height: 10px;
}

.img_logo{
    width: 100%;
    height: auto;
}

.icono_cuotas{
    margin-right: 8px;
}

.icono_nav{
    margin-left: 5px;
}

.compra_cuotas{
    text-align: center;
}

ul{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: black;
}

header h2{
    font-size: 15px;
    font-weight: normal;
    padding: 0.7rem;    
}

.producto{
    background-color: white;
    margin-bottom: 15px;    
}

.descripcion_producto{
    text-align: start;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.producto img{
    height: 13rem;
    max-width: 100%;
    max-height: 100%;
}

.titulo_producto{
    display: none;
}

.titulo_seccion{
    font-size: 24px;
    text-align: start;
    color: #666;
    margin-bottom: 2rem;
}

.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
}

.burger{
    background-color:#2968C8;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    margin-top: 10px;
}

.burger_img{
    padding: 6px;
    height: 20px;
    
}

nav{
    margin-left: 0px;    
}

footer{
    text-align: center;
    color: #666;
    
}

.footer_icon{
    font-size: 2em;
    margin-bottom: 10px;
}

.footer_section{
    margin-bottom: 60px;
    margin: 3rem;
}

.copyright{
    text-align: start;
    margin-bottom: 5px;
    margin-left: 5px;
}

main{
    text-align: center;
    width: 90%;
    background-color: #ebebeb;
    margin: auto;
    margin-top: 2rem;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.ofertas{
    margin-bottom: 6rem;
    margin-top: 2rem;
    padding-top: 0;
}

.ultima_visita{
    padding-top: 0;
}

.main-header{
    display: flex;
    align-items: center;
    padding: 20px;
}

.barra_busqueda{
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra_busqueda input {
    flex-grow: 1;
    padding: 5px;
    width: 40%;
    border-radius: 5px;
    border-style: none;
  }
  
  .barra_busqueda button {
    margin: 5px;
    padding: 5px;
  }

  .banner{
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }

/* No celular */
@media only screen and (min-width: 481px) {

    header{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 100%;
        flex-wrap: wrap;
    }

    nav{
        display: flex;
        justify-content: space-between;   
        width: 100%;     
    }

    .main-header{
        width: 100%;
        justify-content: space-between;
    }
    
    .img_logo{
        width: 10rem;
    }
    
    .burger{
        display: none;
    }
    
    nav ul {
        display: flex;
    }
      
    nav li {
        margin: 0 5px;
    }

    .titulo_producto{
        color: #666;
        font-size: 16px;
    }

    .producto{
        box-shadow: 0px 0px 10px  rgb( 100 , 100 , 100 );
        flex-basis: 50%;
        max-width: 40%;
    }

    .productos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        border: dashed 2px red;
    } 
}

@media only screen and (min-width: 769px){
    .producto{
        flex-basis: 25%;
    }
}